<?xml version="1.0" encoding="utf-8"?>
<!-- 
    注意: 除了手動編輯之外，您也可以使用 Web 
    系統管理工具設定您應用程式的設定。使用
    Visual Studio 的 [網站] -> [Asp.Net 設定] 選項。
    設定及註解的完整清單可在 
    machine.config.comments 中找到，這通常位於 
    \Windows\Microsoft.Net\Framework\vx.x\Config 
-->
<configuration>

    <appSettings/>
    <connectionStrings/>
    <system.web>
        <!-- 
            將編譯設定為 debug="true" 可將偵錯符號 
            插入編譯的頁面。由於這會影響效能， 
            因此，只有在開發期間，才將此值設定 
            為 true。
        -->
        <compilation debug="true" />
        <!--
          <authentication> 區段能夠設定 
          ASP.NET 識別連入的使用者 
           所用的安全性驗證模式。
        -->
        <authentication mode="Windows" />
        <!--
          <customErrors> 區段能夠設定如果/當
           執行要求時發生未處理的錯誤時應該
           怎麼做。尤其是，它能夠讓開發人員
           設定 html 錯誤網頁顯示，以取代錯誤
           堆疊追蹤。

           <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
             <error statusCode="403" redirect="NoAccess.htm" />
             <error statusCode="404" redirect="FileNotFound.htm" />
           </customErrors>
        -->
    </system.web>

</configuration>
