<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="History" type="System.Configuration.AppSettingsSection, System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    <section name="Today" type="System.Configuration.AppSettingsSection, System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    <section name="Post" type="System.Configuration.AppSettingsSection, System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
  </configSections>
  <History>
    <add key="Interval" value="10000" />
  </History>
  <Today>
    <add key="Interval" value="10000" />
  </Today>
  <Post>
    <add key="time" value="time1" />
    <add key="out" value="out1" />
    <add key="in" value="in1" />
    <add key="bal" value="bal1" />
    <add key="type" value="type1" />
    <add key="memo" value="memo1" />
    <add key="name" value="name1" />
    <add key="ID" value="cmbchina1" />
    <add key="ID_Key" value="src_id1" />
    <add key="API_Url" value="http://localhost:1132/postdata.aspx"/>
  </Post>
  <appSettings>
    <!--<add key="login" value="http://www.google.com"/>-->
    <!--<add key="login" value="file://C:/Cashino/Utility/cmbchina/1/Login_aspx.htm"/>-->
    <!--<add key="login" value="http://localhost/am_QueryHistoryTrans.aspx"/>-->
    <!--<add key="login" value="http://localhost/GenIndex.aspx"/>-->
  </appSettings>
  <connectionStrings>
  </connectionStrings>
</configuration>
