<?xml version="1.0"?>
<configuration>
  <add key="hg_api" value="https://longchenguat.hointeractive.com/cgibin/EGameIntegration."/>
  <add key="hg_betapi" value="http://webapi-asia.hointeractive.com/betapi.asmx"/>
  <add key="hg_username" value="longchenguat"/>
  <add key="hg_password" value="long@chenguat@"/>
  <add key="hg_casinoid" value="lon5ch3ng1rds8qz"/>
</configuration>
