<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="sec_name" value="Sec-User-ID" />
    <add key="sec_id" value="11111" />
    <add key="sec_key" value="&lt;RSAKeyValue&gt;&lt;Modulus&gt;nmkMTflFbcfmaxWekqcAxjXkIs43C0do+0h2OkpJYjyZdE5xTCj0eiAisxbmZR0myPcdj8FSLfp+ZC/CMZcm5xlfTH0nnGMQ44BdEozFG0UOSyQLMCbIuAccGNilVQc4SORZBuxF/3Zgp5dbi4HRtFI03gta1u/fvMsjjM0qB5FkLZIBorbFtuMc4zX7zDNGGPxlmssVXV1eJN/pCNS7B2WRuhL8vxArmUscI0CDryI+i/g6OIZErl9oaJQaGNj2SAaYy8FA6R0oobiDv9vlxeTiFKb8JBBQPZ+jzKlRkQjkRGQ5NOwi0gIjgajUZJoQWZYFBY6X6jxH/zT5ZhqCtw==&lt;/Modulus&gt;&lt;Exponent&gt;AQAB&lt;/Exponent&gt;&lt;/RSAKeyValue&gt;" />
    <add key="url_Admin" value="http://localhost/tfadmin/.robot_api" />
    <add key="url_BBIN" value="https://ag.ddt518.com/" />
    <add key="url_AG" value="http://gdc.asia-gaming.com:8083/index.htm" />
    <add key="url_HG" value="https://reports.virtuagaming.com/" />
    <add key="url_SunCity" value="https://www.88msc.net/" />
    <add key="url_Salon" value="http://www.99salon.net/" />
  </appSettings>
  <startup>
    
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" /></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
