<%@ Master Language="C#" MasterPageFile="~/tran/tran.master" AutoEventWireup="true" Inherits="masterpage" %>
<asp:Content ContentPlaceHolderID="head" runat="server"><asp:ContentPlaceHolder ID="head" runat="server"></asp:ContentPlaceHolder></asp:Content>
<asp:Content ContentPlaceHolderID="body" runat="server"><asp:ContentPlaceHolder ID="body" runat="server"></asp:ContentPlaceHolder></asp:Content>
